<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBH1McysXW50c8x97CB_sa_IiaVPUQ1gJk</string>
	<key>GCM_SENDER_ID</key>
	<string>1004344921277</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>js.personal.vibtouchFlutter</string>
	<key>PROJECT_ID</key>
	<string>vibtouch-fl</string>
	<key>STORAGE_BUCKET</key>
	<string>vibtouch-fl.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1004344921277:ios:052df9341e23426cebbbd4</string>
</dict>
</plist>